@import '/src/styles/main';

.tagWrapper {
  display: flex;
  flex-flow: row wrap;
  gap: 8px;
  width: 100%;
  justify-content: center;

  &.small {
    padding-bottom: 32px;

    @include xs {
      padding-bottom: 24px;
    }
  }

  &.medium {
    padding-bottom: 100px;

    @include xs {
      padding-bottom: 32px;
    }
  }
}
