@import '/src/styles/main';

.tagWrapper {
  position: relative;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  gap: 8px;
  width: 100%;
  overflow-x: initial;
  height: fit-content;
  overflow-y: hidden;

  @include xs {
    flex-flow: row nowrap;
    justify-content: flex-start;
    width: calc(100% + 24px);
    overflow-x: auto;

    button:last-of-type {
      margin-right: 24px;
    }
  }

  &.small {
    margin-bottom: 32px;

    @include xs {
      margin-bottom: 24px;
    }
  }

  &.medium {
    margin-bottom: 100px;

    @include xs {
      margin-bottom: 32px;
    }
  }
}
