@import '@dnd-academy/ui/styles';

.topNavigationMenuWrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 8px;
  user-select: none;
  list-style: none;
  height: 72px;
  margin: 0;
  padding: 0;

  li {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  @include sm {
    gap: 0;
    height: 43px;
    justify-content: space-around;
  }

  .aboutNavItem {
    position: relative;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    .subNav {
      display: flex;
      flex-direction: row;
      height: 70px;
      margin: 0;
      position: fixed;
      top: 72px;
      left: 0;
      gap: 32px;
      padding: 24px;
      justify-content: center;
      align-items: center;
      width: 100%;
      background-color: color('white');
      backdrop-filter: blur(2px);

      @include text('body1/Bold', 'gray09');

      @include sm {
        height: 60px;
        top: 104px;

        @include text('body2/Bold', 'gray09');
      }

      .subNavItem {
        position: relative;
        transition: color 0.06s ease-in-out;

        &:hover {
          @include text-color('primary');
        }

        &.activeSub::before {
          content: '';
          position: absolute;
          display: block;
          width: 8px;
          height: 8px;
          border-radius: 50%;
          bottom: 22px;
          left: 50%;
          transform: translateX(-50%);
          background-color: color('primary');

          @include sm {
            bottom: 20px;
          }
        }
      }
    }
  }

  & > li {
    .active {
      font-weight: 700;

      @include text-color('bgprimary');
    }

    & > a {
      padding: 12px 24px;
      word-break: keep-all;
      transition: color 0.2s ease-in-out;

      @include text('body2/Regular', 'gray03');

      @include sm {
        padding: 12px;
      }

      .active {
        font-weight: 700;

        @include text-color('bgprimary');
      }
    }
  }
}

.blogLink {
  display: flex;
  flex-direction: row;
  gap: 4px;
  align-items: center;

  .linkIcon {
    path {
      stroke: color('gray03');
    }
  }

  &:hover {
    text-decoration: none;
  }
}
