@import "/src/styles/main";

.modalWrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: var(--modal-z-index);
  align-items: center;
  justify-content: center;
  background: rgb(0 0 0 / 40%);
  transition: visibility 0.2s ease-out;
  visibility: hidden;
  display: none;

  @include xs {
    align-items: flex-end;
  }

  &.open {
    visibility: visible;
    display: flex;
  }

  .modalBox {
    color: color("gray09");
    background-color: color("white");
    border-radius: 8px;
    box-shadow: 0 2px 12px 0 rgb(0 0 0 / 9%);
    padding: 24px 40px;
    width: 100%;
    display: flex;
    gap: 30px;
    flex-direction: column;

    &.small {
      max-width: 500px;
    }

    &.medium {
      max-width: 640px;
    }

    &.large {
      max-width: 800px;
    }

    @include xs {
      border-radius: 24px 24px 0 0;
      padding: 24px;
    }
  }

  .header {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;

    .title {
      @include text("H5/Bold", "gray09");
    }

    .closeButton {
      position: absolute;
      top: 0;
      right: -20px;

      @include xs {
        right: 0;
      }
    }
  }
}
