@import "/src/styles/main";

.counterCard {
  user-select: none;
  display: flex;
  flex-direction: column;
  padding: 50px;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  background-color: color("gray08");
  width: 100%;
  max-width: 271px;

  .title {
    text-align: center;
    font-size: 20px;
    font-weight: 700;
    line-height: 160%;
    letter-spacing: -0.2px;

    &.default {
      @include text-color("gray04");
    }

    &.primary {
      @include text-color("primary");
    }
  }

  .counter {
    display: flex;
    font-size: 48px;
    font-weight: 700;
    line-height: 140%;
    letter-spacing: -0.48px;

    &.default {
      @include text-color("white");
    }

    &.primary {
      @include text-color("primary");
    }

    & > strong {
      font-size: 56px;
      letter-spacing: -0.56px;
    }
  }
}
