@import '/src/styles/main';

.counterCard {
  user-select: none;
  display: flex;
  flex-direction: column;
  padding: 50px 0;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  background-color: color('gray08');
  width: 100%;
  max-width: 271px;

  @include md {
    max-width: none;
    padding: 30px;
    height: 25vw;
  }

  @include sm {
    max-width: none;
    padding: 0;
    height: 35vw;
  }

  .title {
    text-align: center;
    letter-spacing: -0.14px;

    @include text('H6/Bold');

    @include xs {
      @include text('body2/Bold');
    }

    &.default {
      @include text-color('gray04');
    }

    &.primary {
      @include text-color('primary');
    }
  }

  .counter {
    display: flex;
    align-items: center;

    &.default {
      @include text-color('white');
    }

    &.primary {
      @include text-color('primary');
    }

    .suffix {
      @include text('H2/Bold');

      @include sm {
        @include text('H4/Bold');
      }
    }

    & > strong {
      @include text('H1/Bold');

      @include sm {
        @include text('H4/Bold');
      }
    }
  }
}
