.applicantCountWrapper {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-top: 20px;

  .message {
    @include text('body1');

    &.error {
      color: color('tertiary');
    }

    &.success {
      color: color('success');
    }
  }
}
