@import "/src/styles/main";

.contentsWrapper {
  display: flex;
  flex-direction: column;
  gap: 30px;
  justify-content: center;
  align-items: center;

  .description {
    white-space: pre-line;
    text-align: center;

    @include text('body1/Regular', 'gray09');
  }
}
