@import "/src/styles/main";

.projectCardWrapper {
  display: flex;
  flex-direction: column;
  gap: 8px;
  max-width: 271px;
  max-height: 324px;

  .thumbnail {
    border-radius: 8px;
  }

  .contents {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 8px;

    .flag {
      font-size: 12px;
      font-weight: 700;
      line-height: 18px;
      color: color('info');
    }

    .name {
      font-size: 20px;
      font-weight: 700;
      line-height: 28px;
      color: color('gray01');
    }

    .title {
      font-size: 12px;
      font-weight: 400;
      line-height: 18px;
      color: color('gray03');
    }

    .skillWrapper {
      display: flex;
      overflow: hidden;
      gap: 4px;
      text-overflow: ellipsis;
      white-space: nowrap;

      .skillItem {
        height: fit-content;
        display: flex;
        padding: 4px 8px;
        border-radius: 2px;
        border: 1px solid color('gray08');
        background-color: color('gray09');
        font-size: 10px;
        font-weight: 400;
        line-height: 15px;
        color: color('gray04');
      }
    }
  }
}