@import '@dnd-academy/ui/styles';

.pdfViewerWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  border: 1px solid color('gray09');
  overflow: hidden;

  .pdfButtonWrapper {
    display: flex;
    user-select: none;
    flex-direction: row;
    gap: 10px;
    justify-content: center;
    align-items: center;
    padding: 12px;
    position: relative;
    width: 100%;

    .pageCount {
      @include text('body01/Regular', 'gray09');
    }

    .prevIcon {
      transform: rotate(180deg);
    }

    .nextIcon,
    .prevIcon {
      &.disabled {
        g {
          stroke: color('gray04');
        }
      }
    }

    .expandLink {
      position: absolute;
      padding: 2px 14px;
      right: 10px;

      .icon {
        width: 24px;
        height: 24px;
        fill: color('gray09');
      }
    }
  }
}

.loading {
  width: 100%;
  min-height: 400px;
  color: color('gray09');
  display: flex;
  justify-content: center;
  align-items: center;

  @include sm {
    min-height: 200px;
  }
}
