@import '@dnd-academy/ui/styles';

.introduceSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 32px;
  position: relative;
  width: calc(100vw - 10px);
  left: 50%;
  transform: translateX(-50%);

  .introduceImageWrapper {
    user-select: none;
    height: clamp(200px, 50vw, 320px);
    gap: 24px;
    display: flex;
    flex-direction: row;
    position: relative;

    .image {
      width: 100%;
      height: auto;
    }

    .image:last-of-type {
      margin-right: 24px;
    }
  }

  .description {
    text-align: center;
    max-width: 855px;
    width: 100%;
    padding: 0 24px;
    white-space: pre-line;
    margin: 0;

    @include text('H5/Regular', 'gray02');

    @include xs {
      @include text('H6/Regular');
    }

    strong {
      font-weight: 700;
    }
  }
}

.counterCardWrapper {
  display: flex;
  flex-flow: row wrap;
  gap: 24px;
  width: 100%;
}

.dndExperienceWrapper {
  display: flex;
  flex-direction: column;
  gap: 24px;
  align-items: flex-start;
  width: 100%;

  .dndExperienceDescription {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
    color: color('gray09');

    .primary {
      @include text('body1/Bold', 'primary');

      @include sm {
        @include text('caption1/Bold');
      }
    }

    .secondary {
      @include text('body1/Bold', 'secondary');

      @include sm {
        @include text('caption1/Bold');
      }
    }

    .tertiary {
      @include text('body1/Bold', 'tertiary');

      @include sm {
        @include text('caption1/Bold');
      }
    }

    .title {
      word-wrap: break-word;
      white-space: pre-line;

      @include text('H4/Bold', 'gray09');

      @include sm {
        @include text('H6/Bold');
      }
    }

    .description {
      @include text('H6/Regular', 'gray09');

      @include sm {
        @include text('body1/Regular');
      }
    }
  }
}
