@import '/src/styles/main';

.imageCardWrapper {
  display: flex;
  flex-direction: column;
  position: relative;
  border-radius: 8px;
  overflow: hidden;

  &.fullWidth {
    width: 100%;
    flex-direction: row;
  }

  &.isReversed {
    flex-direction: row-reverse;
  }

  .imageWrapper {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;

    &:not(.fullWidth) {
      height: clamp(150px, 100vw, 250px);
      width: min(356px, 100%);
    }

    @include sm {
      &:not(.fullWidth) {
        width: min(560px, 100%);
        height: 50vw;
      }
    }

    &.fullWidth {
      width: 50%;
      height: 393px;
    }

    .cardImage {
      object-fit: contain;
    }

    &.primary {
      background-color: color('primary');

      .cardImage {
        &.fullWidth {
          padding: 78px 72px;
        }

        padding: 50px;

        @include md {
          padding: 30px;
        }

        @include sm {
          padding: 50px;
        }

        @include xs {
          padding: 30px 20px;
        }
      }
    }

    &.secondary {
      background-color: color('secondary');
    }

    &.tertiary {
      background-color: color('tertiary');

      .cardImage {
        &.fullWidth {
          padding: 80px 90px;
        }

        padding: 46px;

        @include md {
          padding: 26px;
        }

        @include sm {
          padding: 46px;
        }

        @include xs {
          padding: 30px 20px;
        }
      }
    }
  }

  .description {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-height: 100px;
    padding: 36px 52px;
    background-color: color('white');

    @include sm {
      padding: 36px 32px;
    }

    &.fullWidth {
      width: 50%;
      min-height: 393px;
      max-height: 393px;
    }
  }
}
