@import '/src/styles/main';

.space {
  display: flex;
  height: 70px;
  width: 100%;
}

.introduceSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 32px;
  margin: 32px 0;
  position: relative;
  width: calc(100vw - 10px);
  left: 50%;
  transform: translateX(-50%);

  .title {
    font-size: 56px;
    font-weight: 700;
    line-height: 80px;
    color: color('gray01');
  }

  .introduceImageWrapper {
    user-select: none;
    height: 320px;
    gap: 24px;
    display: flex;
    flex-direction: row;

    .image {
      width: 100%;
      height: auto;
    }
  }

  .description {
    text-align: center;
    max-width: 855px;
    width: 100%;
    color: color('white');
    font-size: 24px;
    padding: 24px;
    font-style: normal;
    line-height: 140%;
    white-space: pre-line;

    strong {
      font-weight: 700;
    }
  }
}

.counterCardWrapper {
  display: flex;
  flex-flow: row wrap;
  gap: 24px;
  width: 100%;
}

.dndExperienceWrapper {
  display: flex;
  flex-direction: column;
  gap: 24px;
  align-items: flex-start;
  width: 100%;

  .dndExperienceDescription {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
    color: color('gray09');

    .primary {
      @include text('caption/Bold', 'primary');
    }

    .secondary {
      @include text('caption/Bold', 'secondary');
    }

    .tertiary {
      @include text('caption/Bold', 'tertiary');
    }

    .title {
      word-wrap: break-word;
      white-space: pre-line;

      @include text('H4/Bold', 'gray09');
    }

    .description {
      @include text('H6/Regular', 'gray09');
    }
  }
}
