@import '@dnd-academy/ui/styles';

.jobCardWrapper {
  display: flex;
  flex-direction: row;
  height: 138px;
  max-width: 369px;
  width: 100%;
  background-color: color('gray08');
  padding: 24px 20px;
  border-radius: 8px;
  gap: 16px;

  .companyImage {
    border-radius: 4px;
    min-width: 64px;
    min-height: 64px;
    overflow: hidden;
  }

  .jobContents {
    display: flex;
    flex-direction: column;
    gap: 4px;
    letter-spacing: -0.01em;

    .flag {
      @include text('caption1/Bold', 'primary');
    }

    .title {
      overflow: hidden;
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 1;

      @include text('body2/Bold');
    }

    .company {
      @include text('body2/Regular', 'white');
    }

    .description {
      @include text('caption1/Regular', 'gray02');
    }
  }
}
