@import '/src/styles/main';

.organizerPage {
  display: flex;
  flex-direction: column;
  gap: 100px;
  margin-bottom: 100px;

  .samePositionOrganizersWrapper {
    display: flex;
    flex-direction: column;
    gap: 24px;

    h3 {
      @include text('H4/Bold', 'white');
    }

    .samePositionOrganizers {
      display: flex;
      flex-flow: row wrap;
      gap: 24px;
      justify-content: flex-start;
      align-items: flex-start;
    }
  }

  .organizerMainContents {
    display: grid;
    grid-template-columns: 270px 1fr;
    gap: 24px;

    @include sm {
      grid-template-columns: 1fr;
    }

    .organizerInfoWrapper {
      display: flex;
      flex-direction: column;
      gap: 100px;
      border-radius: 8px;
      box-shadow: 1px 1px 0 0 #404246 inset;

      .thumbnailWrapper {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 24px;

        .emoji {
          font-size: 200px;
          text-align: center;
          vertical-align: middle;
          line-height: 104%;
        }

        .thumbnail {
          border-radius: 8px;
          object-fit: cover;
        }
      }

      .organizerInfo {
        display: flex;
        padding: 24px;
        flex-direction: column;
        align-items: flex-start;
        gap: 8px;

        .position {
          @include text('body1/Bold', 'primary');
        }

        .name {
          @include text('H4/Bold', 'white');
        }

        .skillWrapper {
          display: flex;
          flex-flow: row wrap;
          gap: 10px;
          align-items: center;
        }

        .socialIconWrapper {
          display: flex;
          flex-direction: row;
          gap: 8px;
          align-items: center;
        }
      }
    }

    .organizerDescription {
      display: flex;
      gap: 48px;
      padding: 24px;
      flex-direction: column;
      border-radius: 8px;
      box-shadow: 1px 1px 0 0 #404246 inset;

      h1 {
        @include text('H4/Bold', 'gray01');
      }

      .organizerDescriptionItem {
        display: flex;
        flex-direction: column;
        gap: 16px;

        .bold {
          @include text('H6/Bold', 'primary');
        }

        h2 {
          @include text('H6/Bold', 'white');
        }

        .organizerAnswer {
          word-wrap: break-word;
          white-space: pre-line;

          @include text('body2/Regular', 'gray03');
        }

        .applyButton {
          position: relative;
          border: none;
          background-color: transparent;
          display: flex;
          max-width: fit-content;
          align-items: center;
          padding: 0;
          margin: 0;
          gap: 8px;

          .arrowIcon {
            path {
              fill: color('primary');
            }
          }

          @include text('body2/Bold', 'primary');
        }
      }

      .shareImageWrapper {
        display: flex;
        align-content: flex-start;
        gap: 24px;
        flex-wrap: wrap;

        .shareImage {
          border-radius: 8px;
          object-fit: cover;
        }
      }
    }
  }
}
