.projectWrapper {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(271px, 1fr));
  gap: 34px 14px;
  align-items: flex-start;
  margin-bottom: 100px;

  @include xs {
    margin-bottom: 80px;
    row-gap: 24px;
  }

  .projectCardWrapper {
    display: flex;
    flex-direction: column;
    gap: 8px;
    width: 100%;

    .thumbnail {
      border-radius: 8px;
      object-fit: cover;
      width: 100%;
      height: 100%;
      aspect-ratio: 16 / 9;
    }

    .contents {
      width: 100%;
      display: flex;
      flex-direction: column;
      gap: 8px;

      .flag {
        @include text('caption1/Bold', 'primary');
      }

      .name {
        @include text('H6/Bold', 'gray01');
      }

      .title {
        @include text('caption1/Regular', 'gray03');
      }

      .skillWrapper {
        overflow: hidden;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 1;
        width: calc(100% - 27px);
        height: 27px;
        color: color('gray04');

        :not(span:last-of-type) {
          margin-right: 4px;
        }
      }
    }
  }
}
