@import '~sanitize.css';
@import "./variables";
@import "./mixin/text";
@import "./mixin/functions";

$font-sen: var(--font-sen);
$font-pretendard: var(--font-pretendard);

html {
  font-family: #{$font-sen}, #{$font-pretendard};
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  background-color: color('bgsecondary');
  color: color("bgprimary");
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

div,
input,
textarea,
button,
select,
a {
  -webkit-tap-highlight-color: transparent;
}

button {
  cursor: pointer;

  &:disabled {
    cursor: not-allowed;
  }
}
