/* neutral */
$black: #131118;
$white: #fff;
$gray: #6c6d73;

/* functional */
$highlight: #f6ff8b;
$danger: #ff6c6c;
$positive: #00d57b;
$done: #c692ff;
$active: #6083ff;
$attention: #ffb762;
$relate: #d4c98f;

/* opacity */
$opacity-100: 1;
$opacity-096: 0.96;
$opacity-088: 0.88;
$opacity-080: 0.8;
$opacity-072: 0.72;
$opacity-064: 0.64;
$opacity-056: 0.56;
$opacity-048: 0.48;
$opacity-040: 0.4;
$opacity-032: 0.32;
$opacity-024: 0.24;
$opacity-020: 0.2;
$opacity-018: 0.18;
$opacity-016: 0.16;
$opacity-014: 0.14;
$opacity-012: 0.12;
$opacity-010: 0.1;
$opacity-008: 0.08;
$opacity-006: 0.06;
$opacity-004: 0.04;
$opacity-002: 0.02;
$opacity-000: 0;

:root {
  --black-default: #{rgba($black, $opacity-100)};
  --black-disabled: #{rgba($black, $opacity-048)};
  --black-placeholder: #{rgba($black, $opacity-024)};
  --black-shadow: #{rgba($black, $opacity-010)};
  --black-active: #{rgba($black, $opacity-008)};
  --black-hover: #{rgba($black, $opacity-004)};
  --black-primary: #{rgba($black, $opacity-096)};
  --black-secondary: #{rgba($black, $opacity-040)};
  --black-tertiary: #{rgba($black, $opacity-016)};
  --black-bg: #{rgba($black, $opacity-004)};
  --gray-default: #{rgba($gray, $opacity-100)};
  --gray-disabled: #{rgba($gray, $opacity-048)};
  --gray-placeholder: #{rgba($gray, $opacity-024)};
  --gray-shadow: #{rgba($gray, $opacity-010)};
  --gray-primary: #{rgba($gray, $opacity-096)};
  --gray-active: #{rgba($gray, $opacity-008)};
  --gray-hover: #{rgba($gray, $opacity-004)};
  --gray-secondary: #{rgba($gray, $opacity-040)};
  --gray-tertiary: #{rgba($gray, $opacity-016)};
  --gray-bg: #{rgba($gray, $opacity-004)};
  --white-default: #{rgba($white, $opacity-100)};
  --white-disabled: #{rgba($white, $opacity-048)};
  --white-placeholder: #{rgba($white, $opacity-024)};
  --white-shadow: #{rgba($white, $opacity-010)};
  --white-active: #{rgba($white, $opacity-008)};
  --white-hover: #{rgba($white, $opacity-004)};
  --white-primary: #{rgba($white, $opacity-096)};
  --white-secondary: #{rgba($white, $opacity-040)};
  --white-tertiary: #{rgba($white, $opacity-016)};
  --white-bg: #{rgba($white, $opacity-004)};
  --highlight-default: #{rgba($highlight, $opacity-100)};
  --highlight-disabled: #{rgba($highlight, $opacity-048)};
  --highlight-placeholder: #{rgba($highlight, $opacity-024)};
  --highlight-shadow: #{rgba($highlight, $opacity-010)};
  --highlight-active: #{rgba($highlight, $opacity-008)};
  --highlight-hover: #{rgba($highlight, $opacity-004)};
  --highlight-primary: #{rgba($highlight, $opacity-096)};
  --highlight-secondary: #{rgba($highlight, $opacity-040)};
  --highlight-tertiary: #{rgba($highlight, $opacity-016)};
  --highlight-bg: #{rgba($highlight, $opacity-004)};
  --danger-default: #{rgba($danger, $opacity-100)};
  --danger-disabled: #{rgba($danger, $opacity-048)};
  --danger-placeholder: #{rgba($danger, $opacity-024)};
  --danger-shadow: #{rgba($danger, $opacity-010)};
  --danger-active: #{rgba($danger, $opacity-008)};
  --danger-hover: #{rgba($danger, $opacity-004)};
  --danger-primary: #{rgba($danger, $opacity-096)};
  --danger-secondary: #{rgba($danger, $opacity-040)};
  --danger-tertiary: #{rgba($danger, $opacity-016)};
  --danger-bg: #{rgba($danger, $opacity-004)};
  --positive-default: #{rgba($positive, $opacity-100)};
  --positive-disabled: #{rgba($positive, $opacity-048)};
  --positive-placeholder: #{rgba($positive, $opacity-024)};
  --positive-shadow: #{rgba($positive, $opacity-010)};
  --positive-active: #{rgba($positive, $opacity-008)};
  --positive-hover: #{rgba($positive, $opacity-004)};
  --positive-primary: #{rgba($positive, $opacity-096)};
  --positive-secondary: #{rgba($positive, $opacity-040)};
  --positive-tertiary: #{rgba($positive, $opacity-016)};
  --positive-bg: #{rgba($positive, $opacity-004)};
  --done-default: #{rgba($done, $opacity-100)};
  --done-disabled: #{rgba($done, $opacity-048)};
  --done-placeholder: #{rgba($done, $opacity-024)};
  --done-shadow: #{rgba($done, $opacity-010)};
  --done-active: #{rgba($done, $opacity-008)};
  --done-hover: #{rgba($done, $opacity-004)};
  --done-primary: #{rgba($done, $opacity-096)};
  --done-secondary: #{rgba($done, $opacity-040)};
  --done-tertiary: #{rgba($done, $opacity-016)};
  --done-bg: #{rgba($done, $opacity-004)};
  --active-default: #{rgba($active, $opacity-100)};
  --active-disabled: #{rgba($active, $opacity-048)};
  --active-placeholder: #{rgba($active, $opacity-024)};
  --active-shadow: #{rgba($active, $opacity-010)};
  --active-active: #{rgba($active, $opacity-008)};
  --active-hover: #{rgba($active, $opacity-004)};
  --active-primary: #{rgba($active, $opacity-096)};
  --active-secondary: #{rgba($active, $opacity-040)};
  --active-tertiary: #{rgba($active, $opacity-016)};
  --active-bg: #{rgba($active, $opacity-004)};
  --attention-default: #{rgba($attention, $opacity-100)};
  --attention-disabled: #{rgba($attention, $opacity-048)};
  --attention-placeholder: #{rgba($attention, $opacity-024)};
  --attention-shadow: #{rgba($attention, $opacity-010)};
  --attention-active: #{rgba($attention, $opacity-008)};
  --attention-hover: #{rgba($attention, $opacity-004)};
  --attention-primary: #{rgba($attention, $opacity-096)};
  --attention-secondary: #{rgba($attention, $opacity-040)};
  --attention-tertiary: #{rgba($attention, $opacity-016)};
  --attention-bg: #{rgba($attention, $opacity-004)};
  --relate-default: #{rgba($relate, $opacity-100)};
  --relate-disabled: #{rgba($relate, $opacity-048)};
  --relate-placeholder: #{rgba($relate, $opacity-024)};
  --relate-shadow: #{rgba($relate, $opacity-010)};
  --relate-active: #{rgba($relate, $opacity-008)};
  --relate-hover: #{rgba($relate, $opacity-004)};
  --relate-primary: #{rgba($relate, $opacity-096)};
  --relate-secondary: #{rgba($relate, $opacity-040)};
  --relate-tertiary: #{rgba($relate, $opacity-016)};
  --relate-bg: #{rgba($relate, $opacity-004)};
}

