:root {
  /* colors */
  --primary: #00D3F2;
  --secondary: #9660FF;
  --tertiary: #FF6B61;
  --bgprimary: #EFF1F4;
  --bgsecondary: #13161C;
  --warning: #FFB23E;
  --warning-dark: #2B261F;
  --success: #67D330;
  --success-dark: #1B291E;
  --error: #FF7878;
  --error-dark: #2B2025;
  --info: #00D3F2;
  --info-dark: #112931;
  --white: #fff;

  /* gray */
  --gray09: #13161C;
  --gray08: #292C31;
  --gray07: #404246;
  --gray06: #5E6163;
  --gray05: #909192;
  --gray04: #C5C6C8;
  --gray03: #E1E2E5;
  --gray02: #EDEEF0;
  --gray01: #F3F5F9;

  /* zIndex */
  --top-navigation-z-index: 99;
  --modal-z-index: 20;

  /* typography */
  --font-weight-extrabold: 800;
  --font-weight-bold: bold;
  --font-weight-medium: 500;
  --font-weight-regular: normal;
  --h1-font-size: 56px;
  --h2-font-size: 48px;
  --h2-letter-spacing: -0.48px;
  --h3-font-size: 44px;
  --h3-letter-spacing: -0.44px;
  --h4-font-size: 32px;
  --h5-font-size: 24px;
  --h6-font-size: 20px;
  --body1-font-size: 16px;
  --body2-font-size: 14px;
  --caption1-font-size: 12px;
  --caption2-font-size: 10px;
}
