:root {
  /* colors */
  --primary: #00D3F2;
  --secondary: #9660FF;
  --tertiary: #FF6B61;
  --bgprimary: #EFF1F4;
  --bgsecondary: #13161C;
  --warning: #FFB23E;
  --success: #67D330;
  --error: #FF7878;
  --info: #00D3F2;

  /* grey */
  --grey9: #13161C;
  --grey8: #292C31;
  --grey7: #404246;
  --grey6: #5E6163;
  --grey5: #909192;
  --grey4: #C5C6C8;
  --grey3: #E1E2E5;
  --grey2: #EDEEF0;
  --grey1: #F3F5F9;
}
