:root {
  /* colors */
  --primary: #00D3F2;
  --secondary: #9660FF;
  --tertiary: #FF6B61;
  --bgprimary: #EFF1F4;
  --bgsecondary: #13161C;
  --warning: #FFB23E;
  --success: #67D330;
  --error: #FF7878;
  --info: #00D3F2;
  --white: #fff;

  /* gray */
  --gray09: #13161C;
  --gray08: #292C31;
  --gray07: #404246;
  --gray06: #5E6163;
  --gray05: #909192;
  --gray04: #C5C6C8;
  --gray03: #E1E2E5;
  --gray02: #EDEEF0;
  --gray01: #F3F5F9;

  /* zIndex */
  --top-navigation-z-index: 99;
}
