@import '@dnd-academy/ui/styles';

.tagWrapper {
  position: relative;
  flex-flow: row wrap;
  justify-content: center;
  gap: 8px;
  width: 100%;
  overflow-x: initial;
  height: fit-content;
  overflow-y: hidden;
  display: inline-flex;

  &.small {
    margin-bottom: 32px;

    @include xs {
      margin-bottom: 24px;
    }
  }

  &.medium {
    margin-bottom: 100px;

    @include xs {
      margin-bottom: 32px;
    }
  }
}
