@import '/src/styles/main';

.pdfViewerWrapper {
  display: flex;
  flex-direction: column;
  gap: 14px;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  border: 1px solid color('gray09');
  overflow: hidden;

  .pdfButtonWrapper {
    display: flex;
    user-select: none;
    flex-direction: row;
    gap: 10px;
    justify-content: center;
    align-items: center;
    padding: 12px;
    position: relative;
    width: 100%;

    .pageCount {
      color: color('gray09');
      font-size: 16px;
      font-weight: 400;
      line-height: 22px;
    }

    .button {
      &:not(:disabled) {
        border-color: color('gray09');
      }

      .icon {
        transform: rotate(180deg);
      }

      .disabled {
        g {
          stroke: color('gray04');
        }
      }
    }

    .expandLink {
      position: absolute;
      border-color: color('gray09');
      padding: 2px 14px;
      right: 10px;

      .icon {
        width: 24px;
        height: 24px;
        fill: color('gray09');
      }
    }
  }
}

.loading {
  width: 100%;
  min-height: 400px;
  color: color('gray09');
  display: flex;
  justify-content: center;
  align-items: center;
}
