@import '/src/styles/main';

.socialIcon {
  width: 24px;
  height: 24px;
  min-width: 24px;
  min-height: 24px;

  path {
    transition: opacity 0.1s ease-in-out;
    opacity: 1;
  }

  &.light {
    path {
      fill: color('gray09');
    }
  }

  &.dark {
    path {
      fill: color('gray02');
    }
  }

  &:hover {
    path {
      opacity: 0.8;
    }
  }
}
