@import "/src/styles/main";

.confirmModalWrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 20;
  align-items: center;
  justify-content: center;
  background: rgb(0 0 0 / 40%);
  transition: visibility 0.2s ease-out;
  visibility: hidden;
  display: none;

  &.open {
    visibility: visible;
    display: flex;
  }

  .confirmModalBox {
    color: color("gray09");
    background-color: color("white");
    border-radius: 8px;
    box-shadow: 0 2px 12px 0 rgb(0 0 0 / 9%);
    padding: 24px;
    width: 400px;
  }

  .buttonWrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 16px;
  }
}
