@import '@dnd-academy/ui/styles';

.archivedOrganizerSection {
  padding: 100px 0;
  display: flex;
  flex-direction: column;
  gap: 40px;

  .sectionHeader {
    display: flex;
    gap: 16px;
    flex-direction: column;

    .title {
      @include text('H3/Bold', 'gray01');

      @include xs {
        @include text('H4/Bold');
      }
    }

    .subTitle {
      @include text('H6/Regular', 'gray02');

      @include xs {
        @include text('body1/Regular');
      }
    }
  }

  .archivedOrganizers {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(143px, 1fr));
    gap: 10px;

    .linkIcon {
      path {
        stroke: color('primary');
      }
    }
  }
}
