@import '/src/styles/main';

.projectNavigation {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 16px;
  height: 96px;
  width: 100%;
  user-select: none;

  .link {
    color: color('gray01');
    font-size: 20px;
    font-weight: 400;
    line-height: 32px;
    text-decoration: underline;
    text-underline-offset: 2px;
  }

  .projectName {
    color: color('white');
    font-size: 20px;
    font-weight: 700;
    line-height: 32px;
  }
}

.projectDetail {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 24px;
  gap: 24px;
  background-color: color('white');
  border-radius: 8px;

  .projectIntroduceTitleWrapper {
    display: flex;
    flex-direction: column;
    gap: 16px;

    .flag {
      padding: 5px 20px;
      border-radius: 20px;
      gap: 10px;
      display: flex;
      max-width: fit-content;
      background-color: #00D3F21A;
      color: color('info');
    }

    .name {
      font-size: 48px;
      font-weight: 700;
      line-height: 67px;
      color: color('gray09');
    }

    .title {
      font-size: 20px;
      font-weight: 400;
      line-height: 28px;
      color: color('gray06');
    }

    .skillWrapper {
      display: flex;
      flex-flow: row wrap;
      gap: 4px;
      width: 100%;
    }
  }

  .description {
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
    white-space: pre-line;
    color: color('gray08');
  }
}
