@import '/src/styles/main';

.projectNavigation {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 16px;
  height: 96px;
  width: 100%;
  margin: 0 -24px;
  user-select: none;

  .link {
    color: color('gray01');
    font-size: 20px;
    font-weight: 400;
    line-height: 32px;
    text-decoration: underline;
    text-underline-offset: 2px;
  }

  .projectName {
    color: color('white');
    font-size: 20px;
    font-weight: 700;
    line-height: 32px;
  }
}

.projectDetail {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 24px;
  gap: 24px;
  background-color: color('white');
  border-radius: 24px;
}
