@import '/src/styles/main';

.projectNavigation {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 16px;
  height: 96px;
  width: 100%;
  user-select: none;

  .link {
    color: color('gray01');
    font-size: 20px;
    font-weight: 400;
    line-height: 32px;
    text-decoration: underline;
    text-underline-offset: 2px;
  }

  .projectName {
    color: color('white');
    font-size: 20px;
    font-weight: 700;
    line-height: 32px;
  }
}

.projectPageContents {
  display: flex;
  flex-direction: column;
  gap: 100px;
  margin-bottom: 100px;

  .projectDetail {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 24px;
    gap: 24px;
    background-color: color('white');
    border-radius: 8px;

    .projectIntroduceTitleWrapper {
      display: flex;
      flex-direction: column;
      gap: 16px;

      .header {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        width: 100%;

        .linkWrapper {
          display: flex;
          flex-direction: row;
          gap: 16px;
          align-items: center;
        }
      }

      .name {
        font-size: 48px;
        font-weight: 700;
        line-height: 67px;
        color: color('gray09');
      }

      .title {
        font-size: 20px;
        font-weight: 400;
        line-height: 28px;
        color: color('gray06');
      }

      .skillWrapper {
        display: flex;
        flex-flow: row wrap;
        gap: 4px;
        width: 100%;
      }
    }

    .description {
      font-size: 16px;
      font-weight: 400;
      line-height: 22px;
      white-space: pre-line;
      color: color('gray08');
    }
  }

  .projectSection {
    display: flex;
    flex-direction: column;
    gap: 32px;

    h2 {
      font-size: 32px;
      font-weight: 700;
      line-height: 45px;
      letter-spacing: -0.01em;
    }
  }
}
