@import "/src/styles/main";

.shareModalContentsWrapper {
  display: flex;
  flex-direction: column;
  gap: 24px;
  justify-content: center;
  align-items: center;

  .shareButtonWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 48px;
  
    .shareButton {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      border: none;
      background: none;
      gap: 16px;
  
      @include text('H6/Bold', 'gray09');
    
      .socialIcon {
        width: 80px;
        height: 80px;
      }
    }
  }
  
  .shareUrlButton {
    border-radius: 32px;
  }
}
