*::-webkit-scrollbar-track {
  background-color: transparent;
}

*::-webkit-scrollbar {
  width: 10px;
  height: 10px;
  background-color: transparent;
  scroll-behavior: smooth;
}

*::-webkit-scrollbar-thumb {
  background-clip: padding-box;
  border: 2px solid transparent;
  border-radius: 6px;
  background-color: rgb(52 83 112 / 50%);
}

/* perfect-scrollbar override */
.ps--focus > .ps__rail-x,
.ps--scrolling-x > .ps__rail-x,
.ps:hover > .ps__rail-x,
.ps--focus > .ps__rail-y,
.ps--scrolling-y > .ps__rail-y,
.ps:hover > .ps__rail-y {
  opacity: 1;
}

.ps .ps__rail-x:hover,
.ps .ps__rail-y:hover,
.ps .ps__rail-x:focus,
.ps .ps__rail-y:focus,
.ps .ps__rail-x.ps--clicking,
.ps .ps__rail-y.ps--clicking {
  background-color: transparent;
  opacity: 0.9;
}

.ps__thumb-x {
  background-color: rgb(52 83 112 / 50%);
  height: 6px;
  bottom: 2px;
}

.ps__thumb-y {
  box-sizing: border-box;
  background-color: rgb(52 83 112 / 50%);
  width: 6px;
  right: 2px;
}

.ps__rail-x:hover > .ps__thumb-x,
.ps__rail-x:focus > .ps__thumb-x,
.ps__rail-x.ps--clicking .ps__thumb-x {
  background-color: rgb(52 83 112 / 50%);
  height: 8px;
}

.ps__rail-y:hover > .ps__thumb-y,
.ps__rail-y:focus > .ps__thumb-y,
.ps__rail-y.ps--clicking .ps__thumb-y {
  background-color: rgb(52 83 112 / 50%);
  width: 8px;
}
