@import '@dnd-academy/ui/styles';

.counterCardWrapper {
  display: grid;
  gap: 24px;
  width: 100%;
  grid-template-columns: repeat(4, 1fr);

  @include md {
    grid-template-columns: repeat(2, 1fr);
  }
}
