@import '/src/styles/main';

.hasProjectLink {
  margin-bottom: 100px;
}

.reviewCardWrapper {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 24px;
  border-radius: 8px;
  max-width: 368px;
  width: 100%;
  background-color: color('gray08');

  @include sm {
    max-width: none;
  }

  .titleWrapper {
    display: flex;
    flex-direction: row;
    gap: 8px;
    align-items: flex-end;
    color: color('gray01');

    .name {
      font-size: 20px;
      font-weight: 900;
      line-height: 29px;
    }

    .position {
      font-size: 14px;
      font-weight: 400;
      line-height: 20px;
    }
  }

  .socialIconWrapper {
    display: flex;
    flex-direction: row;
    gap: 8px;
  }

  .review {
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
    color: color('gray03');
  }

  .link {
    user-select: none;
    display: flex;
    width: fit-content;
    flex-direction: row;
    gap: 8px;
    font-size: 14px;
    font-weight: 700;
    line-height: 21px;
    align-items: center;
    color: color('primary');

    .arrowIcon {
      path {
        fill: color('primary');
      }
    }
  }
}
