@import '/src/styles/main';

.topNavigationMenuWrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 8px;
  user-select: none;
  list-style: none;
  height: 72px;
  margin: 0;
  padding: 0;

  .aboutNavItem {
    position: relative;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    .subNav {
      display: flex;
      flex-direction: row;
      height: 70px;
      margin: 0;
      position: fixed;
      top: 72px;
      left: 0;
      gap: 32px;
      padding: 24px;
      justify-content: center;
      align-items: center;
      width: 100%;
      background-color: color('white');
      backdrop-filter: blur(2px);
      font-size: 16px;
      font-style: normal;
      font-weight: 700;
      line-height: 140%;

      @include text-color('gray09');

      .subNavItem {
        position: relative;
        transition: color 0.06s ease-in-out;

        &:hover {
          @include text-color('primary');
        }

        &.activeSub::before {
          content: '';
          position: absolute;
          display: block;
          width: 8px;
          height: 8px;
          border-radius: 50%;
          bottom: 22px;
          left: 10px;
          background-color: color('primary');
        }
      }
    }
  }

  & > li {
    .active {
      font-weight: 700;

      @include text-color('bgprimary');
    }

    & > a {
      padding: 12px 24px;
      font-size: 14px;
      font-weight: 400;
      transition: color 0.2s ease-in-out;

      .active {
        font-weight: 700;
  
        @include text-color('bgprimary');
      }

      @include text-color('gray03');
    }
  }
}

.blogLink {
  display: flex;
  flex-direction: row;
  gap: 4px;
  align-items: center;

  &:hover {
    text-decoration: none;
  }
}
