.introduceSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 32px;
  position: relative;

  .image {
    width: 100%;
    max-width: 560px;
    height: auto;
    max-height: 475px;
  }

  .subTitle {
    text-align: center;
    white-space: pre-line;

    @include text('H4/Bold', 'white');

    @include xs {
      @include text('H6/Bold');
    }
  }

  .description {
    text-align: center;
    width: 100%;
    white-space: pre-line;

    @include text('H5/Regular', 'gray02');

    @include xs {
      @include text('H6/Regular', 'gray02');
    }

    strong {
      font-weight: 700;
    }
  }
}

.codeOfConductorSection {
  display: flex;
  padding: 100px 0;
  flex-direction: column;
  gap: 72px;

  @include xs {
    padding: 32px 0;
    gap: 32px;
  }

  .title {
    text-align: center;

    @include text('H2/Bold', 'bgprimary');

    @include xs {
      @include text('H4/Bold');
    }
  }

  .description {
    @include text('H6/Regular', 'gray02');

    @include xs {
      @include text('body1/Regular');
    }

    strong {
      font-weight: 700;
    }
  }

  .descriptionTitle {
    @include text('H5/Bold', 'gray02');

    @include xs {
      @include text('H6/Bold');
    }
  }

  .descriptionText {
    @include text('H6/Regular', 'gray01');

    @include xs {
      @include text('body1/Regular');
    }
  }

  .buttonWrapper {
    display: flex;
    align-items: center;
    justify-content: center;

    .linkIcon {
      path {
        stroke: color('gray03');
      }
    }
  }
}
