@import '/src/styles/main';

.shareAlarmSection {
  position: relative;
  width: calc(100vw - 10px);
  left: 50%;
  transform: translateX(-50%);
  user-select: none;

  .marqueeTexts {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 12px 24px;
    gap: 48px;
    background-color: color('bgsecondary');

    .marqueeText {
      font-size: 14px;
      font-weight: 900;
    }

    .marqueeEmoji {
      font-size: 32px;
      font-weight: 900;
    }
  }

  .divider {
    background-color: color('gray08');
  }

  .descriptionWrapper {
    display: flex;
    flex-direction: column;
    gap: 32px;
    justify-content: center;
    align-items: center;
    padding: 100px 24px;
    background-color: color('gray08');

    .title {
      text-align: center;
      word-break: keep-all;

      @include text('H4/Bold', 'bgprimary');
    }

    .buttonWrapper {
      display: flex;
      flex-flow: row;
      justify-content: center;
      align-items: center;
      gap: 24px;
      width: 100%;
      max-width: 450px;

      @include xs {
        max-width: 186px;
        flex-direction: column;
      }
    }
  }
}
