@import '/src/styles/main';

.projectWrapper {
  display: flex;
  flex-flow: row wrap;
  gap: 34px 14px;
  justify-content: flex-start;
  align-items: flex-start;
  margin-bottom: 100px;

  .projectCardWrapper {
    display: flex;
    flex-direction: column;
    gap: 8px;
    max-width: 271px;
    max-height: 324px;

    .thumbnail {
      border-radius: 8px;
      object-fit: fill;
    }

    .contents {
      width: 100%;
      display: flex;
      flex-direction: column;
      gap: 8px;

      .flag {
        font-size: 12px;
        font-weight: 700;
        line-height: 18px;
        color: color('info');
      }

      .name {
        font-size: 20px;
        font-weight: 700;
        line-height: 28px;
        color: color('gray01');
      }

      .title {
        font-size: 12px;
        font-weight: 400;
        line-height: 18px;
        color: color('gray03');
      }

      .skillWrapper {
        overflow: hidden;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 1;
        width: 271px;
        color: color('gray04');

        :not(.skillItem:first-of-type) {
          margin-left: 4px;
        }
      }
    }
  }
}
