@import '@dnd-academy/ui/styles';

.tag {
  border: none;
  position: relative;
  overflow: hidden;
  transition:
    color 0.1s ease-in-out,
    background-color 0.1s ease-in-out,
    border-color 0.1s ease-in-out,
    opacity 0.1s ease-in-out;
  user-select: none;
  white-space: nowrap;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  text-align: center;
  max-width: fit-content;
  border-radius: 32px;
  min-width: fit-content;

  @include text('body2/Regular');

  &.medium {
    padding: 16px 24px;

    @include xs {
      padding: 12px 16px;
    }
  }

  &.small {
    padding: 9px 16px;
  }

  &.active {
    background-color: color('primary');
    color: color('bgsecondary');
  }

  .active {
    font-weight: 800;
  }

  &:not(.active) {
    background-color: color('gray08');
    color: color('gray02');
  }

  &::after {
    content: ' ';
    position: absolute;
    inset: 0;
    border-radius: 0.25rem;
  }

  &:not(:disabled, .disabled)::after {
    opacity: 0;
  }

  @media (hover: hover) and (pointer: fine) {
    &:not(:disabled, .disabled):hover::after {
      background-color: black;
      opacity: 0.04;
    }
  }

  &:not(:disabled, .disabled):active::after {
    background-color: black;
    opacity: 0.08;
  }
}
