@import '/src/styles/main';

.section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 100px 0;
  gap: 72px;

  &.fullWidth {
    position: relative;
    width: 100vw;
    left: 50%;
    transform: translateX(-50%);
    user-select: none;
  }

  .title {
    text-align: center;
    font-size: 44px;
    font-weight: 700;
    line-height: 160%;
    letter-spacing: -0.44px;

    @include text-color('gray01');
  }
}
