@import '/src/styles/main';

.section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 100px 0;
  gap: 72px;

  &.fullWidth {
    position: relative;
    width: calc(100vw - 10px);
    left: 50%;
    transform: translateX(-50%);
    user-select: none;
  }

  .titleWrapper {
    display: flex;
    flex-direction: column;
    gap: 16px;

    .subTitle {
      white-space: pre-line;
      font-size: 20px;
      line-height: 140%;
      text-align: center;

      @include text-color('gray02');

      strong {
        font-weight: 700;
      }
    }

    .title {
      text-align: center;
      font-size: 44px;
      font-weight: 700;
      line-height: 160%;
      letter-spacing: -0.44px;
  
      @include text-color('gray01');
    }
  }
}
