@import '@dnd-academy/ui/styles';

.section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 100px 0;
  gap: 72px;

  @include xs {
    gap: 32px;
    padding: 80px 0;
  }

  &.fullWidth {
    position: relative;
    width: calc(100vw - 10px);
    left: 50%;
    transform: translateX(-50%);
    user-select: none;
  }

  .titleWrapper {
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding: 0 24px;

    .subTitle {
      white-space: pre-line;
      text-align: center;

      @include text('H6/Regular', 'gray02');

      @include xs {
        @include text('body2/Regular');
      }

      strong {
        font-weight: 700;
      }
    }

    .title {
      text-align: center;
      word-break: keep-all;

      @include text('H3/Bold', 'gray01');

      @include xs {
        @include text('H4/Bold');
      }
    }
  }
}
