.projectsSlider {
  width: 100%;

  .projectSliderWrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 24px;
  
    .thumbnail {
      border-radius: 8px;
    }
  }
}

.marquee {
  gap: 24px;
}
