@import "/src/styles/main";

.skillItem {
  height: fit-content;
  width: fit-content;
  display: inline-block;
  padding: 4px 8px;
  border-radius: 2px;
  font-size: 10px;
  font-weight: 400;
  line-height: 15px;
  user-select: none;

  &.dark {
    border: 1px solid color('gray08');
    background-color: color('gray09');
    color: color('gray04');
  }

  &.grey {
    border: none;
    background-color: color('gray02');
    color: color('gray07');
  }
}
