@import '/src/styles/main';

.accordionItem {
  border-radius: 4px;
  overflow: hidden;

  .accordionHeader {
    border: none;
    width: 100%;
    user-select: none;
    padding: 24px;
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: left;
    justify-content: space-between;
    gap: 24px;
    cursor: pointer;
    transition: background-color .2s ease-in-out;
    background-color: color('gray08');

    @include xs {
      @include text("body2/Bold", "gray00");
    }

    @include text("H6/Bold", "gray00");
  
    &.active {
      background-color: color('white');

      @include text-color('bgsecondary');

    }
  }

  .accordionPanel {
    padding: 24px;
    background-color: color('gray02');

    @include xs {
      @include text("body2/Regular", "bgsecondary");
    }

    @include text("H6/Regular", "bgsecondary");
  }

  .polygonIcon {
    min-height: 16px;
    min-width: 16px;
    transition: transform 0.3s ease-in-out;

    @include xs {
      width: 12px;
      height: 12px;
      min-height: 12px;
      min-width: 12px;
    }

    &.active {
      transform: rotate(90deg);

      path {
        transition: fill 0.3s ease-in-out;
        fill: color('bgsecondary');
      }
    }

    &:not(.active) {
      transform: rotate(0);
    }
  }
}
