@import '/src/styles/main';

.eventStatusBadge {
  display: inline-flex;
  padding: 6px 12px;
  font-size: 12px;
  letter-spacing: -0.12px;
  border-radius: 20px;
  width: fit-content;

  &.warn {
    background-color: color('warning/dark');

    @include text-color('warning');
  }

  &.success {
    background-color: color('success/dark');

    @include text-color('success');
  }

  &.info {
    background-color: color('info/dark');

    @include text-color('info');
  }

  &.error {
    background-color: color('error/dark');

    @include text-color('error');
  }
}
