@import '/src/styles/main';

.badge {
  display: inline-flex;
  border-radius: 20px;
  width: fit-content;
  position: relative;
  overflow: hidden;
  user-select: none;

  &.medium {
    padding: 6px 12px;

    @include text('caption1/Regular');
  }

  &.large {
    padding: 5px 20px;

    @include text('body1/Bold');
  }

  &.dark {
    &.notice {
      background-color: color('warning/dark');

      @include text-color('warning');
    }

    &.success {
      background-color: color('success/dark');

      @include text-color('success');
    }

    &.info {
      background-color: color('info/dark');

      @include text-color('primary');
    }

    &.error {
      background-color: color('error/dark');

      @include text-color('error');
    }
  }

  &.light {
    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      opacity: 0.1;
    }

    &.notice {
      &::before {
        background-color: color('warning');
      }

      @include text-color('warning');
    }

    &.success {
      &::before {
        background-color: color('success');
      }

      @include text-color('success');
    }

    &.info {
      &::before {
        background-color: color('primary');
      }

      @include text-color('primary');
    }

    &.error {
      &::before {
        background-color: color('error');
      }

      @include text-color('error');
    }
  }
}
