.sponsorsWrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
  max-width: 900px;
  width: 100%;
  min-height: 273px;
  align-items: center;

  @include sm {
    grid-template-columns: repeat(2, 1fr);
  }

  .sponsor {
    position: relative;
    max-width: 280px;
    width: 100%;
    height: 65px;

    @include sm {
      height: 30px;
    }

    .sponsorImage {
      object-fit: contain;
    }
  }
}

.linkIcon {
  path {
    stroke: color('gray03');
  }
}

.sponsorLogo {
  display: flex;
  align-items: center;
  justify-content: center;
}
