.guidelineSectionContents {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 16px;

  .guidelineTable {
    width: 100%;

    @include text('body1/Regular', 'gray04');

    @include xs {
      @include text('caption1/Regular');
    }

    tr {
      height: 70px;
      border-bottom: 1px solid color('gray07');
      position: relative;

      td:nth-of-type(2) {
        min-width: 125px;

        @include sm {
          min-width: 95px;
        }
      }
    }

    tr:first-of-type {
      border-top: 1px solid color('gray01');
    }

    tr:nth-of-type(even) {
      background-color: color('gray08');
    }

    .week {
      min-width: 40px;
      text-align: center;
    }

    .middle {
      position: relative;
    }

    .badge {
      border-radius: 120px;
      background-color: color('gray09');
      padding: 8px 16px;
      white-space: nowrap;

      @include text('body1/Bold', 'white');

      &.absolute {
        position: absolute;
        bottom: -20px;
      }

      @include sm {
        padding: 8px 12px;

        @include text('caption1/Bold');
      }
    }

    .withBadge {
      display: flex;
      flex-flow: row wrap;
      align-items: center;
      gap: 10px;

      @include sm {
        gap: 4px;
      }

      .designerBadge {
        width: 98px;
        height: 26px;

        @include sm {
          width: 67px;
          height: 18px;
        }
      }

      .developerBadge {
        width: 107px;
        height: 26px;

        @include sm {
          width: 73px;
          height: 18px;
        }
      }
    }
  }

  .subDescription {
    list-style: disc;
    width: 100%;
    padding-inline-start: 16px;

    @include text('body2/Regular', 'gray06');
  }
}
