@import '@dnd-academy/ui/styles';

.navigationWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  height: 72px;
  width: 100%;
  border-bottom: 1px solid color('gray08');
  background-color: color('bgsecondary');
  z-index: var(--top-navigation-z-index);

  @include sm {
    height: auto;
    padding: 20px 12px 0;
  }

  .logoLink {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 24px;

    @include sm {
      padding-left: 0;
    }

    .logo {
      width: 21px;
      height: 24px;
    }
  }

  .navigationContents {
    max-width: 1204px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    @include sm {
      gap: 16px;
      flex-direction: column;
      justify-content: center;
    }
  }
}

.space {
  display: flex;
  max-width: 1204px;
  width: 100%;
  height: 72px;

  @include sm {
    height: 104px;
  }
}
