name: CI

on:
  pull_request:
    branches: [develop]
  push:
    branches: [develop]

env:
  CACHED_DEPENDENCY_PATHS: |
    ${{ github.workspace }}/.yarn/cache
    ${{ github.workspace }}/.yarn/unplugged
  CACHED_BUILD_PATHS: ${{ github.workspace }}/.next
  BUILD_CACHE_KEY: ${{ github.sha }}
  DEFAULT_NODE_VERSION: "v20.11.1"

jobs:
  continuous-integration:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Use Node.js 20.11.1
        uses: actions/setup-node@v4
        with:
          node-version: ${{ env.DEFAULT_NODE_VERSION }}

      - name: Install dependencies
        run: yarn install --immutable

      - name: Build packages
        run: yarn workspace @dnd-academy/ui build

      - name: Check Lint
        if: ${{ github.event_name == 'pull_request' }}
        run: |
          yarn workspace web lint
          yarn workspace @dnd-academy/ui lint
          yarn stylelint

      - name: Check Unit Test
        run: yarn test:coverage

  job_publish_storybook_chromatic:
    name: Chromatic Publish
    runs-on: ubuntu-latest
    steps:
      - name: Check out current commit (${{ github.sha }})
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - name: Set up Node
        uses: actions/setup-node@v4
        with:
          node-version: ${{ env.DEFAULT_NODE_VERSION }}

      - name: Set node linker to nodeModules
        run: yarn config set nodeLinker "node-modules"

      - name: Install dependencies
        run: yarn install --immutable

      - name: Build packages
        run: yarn workspace @dnd-academy/ui build

      - name: Publish Project 1 to Chromatic
        uses: chromaui/action@latest
        with:
          projectToken: ${{ secrets.CHROMATIC_PROJECT_TOKEN }}
          workingDir: apps/web
          skip: "dependabot/**"
          exitOnceUploaded: true
          onlyChanged: true
          autoAcceptChanges: true
