name: CI

on:
  pull_request:
    branches: [develop]
  push:
    branches: [develop]

env:
  CACHED_BUILD_PACKAGE_UI_PATHS: ${{ github.workspace }}/packages/ui/dist
  BUILD_CACHE_KEY: ${{ github.sha }}
  DEFAULT_NODE_VERSION: "v20.11.1"

jobs:
  job_install_dependencies:
    name: Install Dependencies
    runs-on: ubuntu-latest
    steps:
      - name: Check out current commit (${{ github.sha }})
        uses: actions/checkout@v4
      - name: Set up Node
        uses: actions/setup-node@v4
        with:
          node-version: ${{ env.DEFAULT_NODE_VERSION }}

      - name: Get yarn cache directory path
        id: yarn-cache-dir-path
        run: echo "dir=$(yarn config get cacheFolder)" >> $GITHUB_OUTPUT

      - name: Compute dependency cache key
        id: compute_lockfile_hash
        run: echo "::set-output name=hash::${{ runner.os }}-yarn-${{ hashFiles('**/yarn.lock') }}"

      - name: Check dependency cache
        uses: actions/cache@v4
        id: cache_dependencies
        with:
          path: ${{ steps.yarn-cache-dir-path.outputs.dir }}
          key: ${{ steps.compute_lockfile_hash.outputs.hash }}
          restore-keys: |
            ${{ runner.os }}-yarn-

      - name: Install dependencies
        if: steps.cache_dependencies.outputs.cache-hit != 'true'
        run: yarn install --immutable
    outputs:
      dependency_cache_key: ${{ steps.compute_lockfile_hash.outputs.hash }}
      yarn_cache_dir_path:  ${{ steps.yarn-cache-dir-path.outputs.dir }}

  job_build:
    name: Build
    needs: [job_install_dependencies]
    runs-on: ubuntu-latest
    timeout-minutes: 15
    steps:
      - name: Check out current commit (${{ github.sha }})
        uses: actions/checkout@v4
      - name: Set up Node
        uses: actions/setup-node@v4
        with:
          node-version: ${{ env.DEFAULT_NODE_VERSION }}

      - name: Check dependency cache
        uses: actions/cache@v4
        with:
          path: ${{ needs.job_install_dependencies.outputs.yarn_cache_dir_path }}
          key: ${{ needs.job_install_dependencies.outputs.dependency_cache_key }}
      - name: Check build cache
        uses: actions/cache@v4
        id: cache_built_packages
        with:
          path: ${{ env.CACHED_BUILD_PACKAGE_UI_PATHS }}
          key: ${{ env.BUILD_CACHE_KEY }}

      - name: Build packages
        if: steps.cache_built_packages.outputs.cache-hit != 'true'
        run: yarn workspace @dnd-academy/ui build

    outputs:
      dependency_cache_key: ${{ needs.job_install_dependencies.outputs.dependency_cache_key }}
      yarn_cache_dir_path:  ${{ needs.job_install_dependencies.outputs.yarn_cache_dir_path }}

  continuous-integration:
    needs: [job_build]
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Set up Node
        uses: actions/setup-node@v4
        with:
          node-version: ${{ env.DEFAULT_NODE_VERSION }}

      - name: Check dependency cache
        uses: actions/cache@v4
        with:
          path: ${{ needs.job_build.outputs.yarn_cache_dir_path }}
          key: ${{ needs.job_build.outputs.dependency_cache_key }}
      - name: Check build cache
        uses: actions/cache@v4
        with:
          path: ${{ env.CACHED_BUILD_PACKAGE_UI_PATHS }}
          key: ${{ env.BUILD_CACHE_KEY }}

      - name: Check Lint
        if: ${{ github.event_name == 'pull_request' }}
        run: |
          yarn workspace web lint
          yarn workspace @dnd-academy/ui lint
          yarn stylelint

      - name: Check Unit Test
        run: yarn test:coverage

  job_publish_storybook_chromatic:
    needs: [job_build]
    name: Chromatic Publish
    runs-on: ubuntu-latest
    steps:
      - name: Check out current commit (${{ github.sha }})
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - name: Set up Node
        uses: actions/setup-node@v4
        with:
          node-version: ${{ env.DEFAULT_NODE_VERSION }}

      - name: Check dependency cache
        uses: actions/cache@v4
        with:
          path: ${{ needs.job_build.outputs.yarn_cache_dir_path }}
          key: ${{ needs.job_build.outputs.dependency_cache_key }}
      - name: Check build cache
        uses: actions/cache@v4
        with:
          path: ${{ env.CACHED_BUILD_PACKAGE_UI_PATHS }}
          key: ${{ env.BUILD_CACHE_KEY }}

      - name: Publish Project to Chromatic
        uses: chromaui/action@latest
        with:
          projectToken: ${{ secrets.CHROMATIC_PROJECT_TOKEN }}
          workingDir: apps/web
          skip: "dependabot/**"
          exitOnceUploaded: true
          onlyChanged: true
          autoAcceptChanges: true
          buildScriptName: "build:storybook"
