@import '/src/styles/main';

.detailNavigation {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 16px;
  height: 96px;
  width: 100%;
  user-select: none;

  .link {
    text-decoration: underline;
    text-underline-offset: 2px;

    @include text('H6/Regular', 'gray01');
  }

  .title {
    @include text('H6/Regular', 'white');

    &.lastItem {
      font-weight: 700;
    }
  }
}
